body {
    font-family: sans-serif;
}





/***************************************/
/*               WRAPPER               */
/***************************************/
.wrapper {
    height: 100%;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    /*flex-wrap: nowrap;*/
}





/*****************************************/
/*               MAIN MENU               */
/*****************************************/
.mainmenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 50px;
    background: #ffffff;
    box-shadow: -5px 0 10px 3px #b2b2b2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mainmenu--top .logo {
    width: 30px;
    padding: 10px;
}

.mainmenu--middle {
    background: #cc1f27;
    padding: 30px 0;
}
.mainmenu--middle img {
    width: 20px;
    padding: 10px 15px;
    cursor: not-allowed;
}

.mainmenu--bottom {
    margin: 0 auto 10px;
}
.mainmenu--bottom img {
    width: 20px;
    margin: 0 auto;
    padding: 10px 15px;
    cursor: pointer;
}





/*********************************************/
/*               CONTENT BLOCK               */
/*********************************************/
.content {
    position: absolute;
    top: 0;
    left: 50px;
    min-height: 100%;
    width: calc(100% - 50px);
    background: #f8f8f8;
}





/****************************************/
/*               TOOL BAR               */
/****************************************/
.toolbar {
    width: 100%;
    background: #ffffff;
    height: 50px;
    display: none;
}

.toolbar--item {
    display: inline-block;
}





/******************************************/
/*               CATEGORIES               */
/******************************************/
.category--block {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 30px;
}

.category--item--outline {
    display: inline-block;
    margin: 10px 5px 0 5px;
    border-radius: 15px;
    cursor: pointer;
    background: #cc1f27;
    background-image: linear-gradient(to bottom right, #cc1f27, yellow);
}
.category--item--outline:first-of-type {
    margin-left: 0;
}
.category--item--outline:last-of-type {
    margin-right: 0;
}


.category--item--content, .category--item--content--active {
    margin: 2px;
    padding: 5px 15px;
    border-radius: 15px;
    user-select: none;
    font-size: 0.9rem;
    line-height: 0.9rem;
    font-family: sans-serif;
    text-transform: uppercase;
}

.category--item--content {
    color: #000;
    background: #f8f8f8;
}

.category--item--content--active {
    background: transparent;
    color: #fff;
}





/*****************************************/
/*               LOAD MORE               */
/*****************************************/
.loadmore--block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}


.loadmore--btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background: #cc1f27;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}

.loadmore--loader {
    cursor: progress;
}
.loadmore--loader img {
    height: 40px;
    margin-top: 5px;
}







/***********************************************/
/*               MASONRY GALLERY               */
/***********************************************/
.masonry-gallery {
    margin: 10px 30px;
    column-gap: 1.5em;
    display: inline-block;
}

.masonry-gallery--item {
    margin: 0 0 1.5em;
    border-radius: 6px;
}

.masonry-gallery--item img{
    width: 100%;
    border-radius: 6px;
}

@media only screen and (min-width: 1520px) {
    .masonry-gallery {
        column-count: 6;
    }
}
@media only screen and (max-width: 1519px) and (min-width: 1240px) {
    .masonry-gallery {
        column-count: 5;
    }
}
@media only screen and (max-width: 1239px) and (min-width: 1024px) {
    .masonry-gallery {
        column-count: 4;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry-gallery {
        column-count: 3;
    }
}
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry-gallery {
        column-count: 2;
    }
}
@media only screen and (max-width: 539px) and (min-width: 0px) {
    .masonry-gallery {
        column-count: 1;
    }
}